*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 10vw;
    color: #df0707cc;
}